body {
    background-color: #02182B;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    background-color: #D7263D;
    display: flex;
    align-items: center;
    padding-left: 25px;
    height: 8vh;

}

h1 {
    margin: 0;
}


.container {
    
    display: flex;
    flex-direction: column;
    height: 92vh;
    z-index: 0;
}

.contact {
    background-color: grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    margin: 20px 20px 0px 20px;
    height: 5vh;
    z-index: 1;
}

.contact-info {
    background-color: grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    margin: -15px 25px 0px 25px;
    height: 6vh;
    z-index: 1;

}